<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body onload='document.f.username.focus();'>
<form name="f" th:action="@{/mybatis/admininfo/login}" method="POST">
    <table>
        <tr>
            <td>User:</td><td><input type="text" name="userName" value=""></td>
        </tr>
        <tr>
            <td>Password:</td><td><input type="password" name="userPassword" value=""></td>
        </tr>
        <tr>
            <td colspan="2"><input name="submit" type="submit" value="Login"></td>
        </tr>

    </table>
</form>
</body>
</html>